.container {
    box-sizing: border-box;
}

.container p {
    color: pink;
}


.container ul {
    display: flex;
    border-bottom: 1px solid white;
}

.container li {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: black;
    width: auto;
    height: auto;
    padding: auto;
}

.container a {
    width: auto;
    margin-right: 2px;
    padding: 0.25rem 1rem;
    border-radius: 10px 10px 0 0;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 0px;
    border-color: white;
    border-style: solid;
    /*padding: 0.5rem;*/
}

.container a:hover {
    background-color: gold;
}

.test:hover {
    background-color: gold;
}

/*.container a:hover {
    background-color: gold;
}*/

.container a:visited {
    color: inherit;
}