.container {
    padding: 1rem 3rem;
    overflow: visible;
}

@media screen and (max-width: 760px) {
    .container {
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 560px) {
    .container {
        padding-top: 2rem;
    }
}