.containerShow {
    display: default;
    background-color: var(--color-bg-section-dark);
    padding: 0rem 0.5rem;
    width: 100%;
    margin: 0 0 2rem 0;
}

.containerHide {
    display: none;
}

/*.addForm {
    display: flex;
}*/

.primaryFormInputs {
    display: flex;
    width: 100%;
}

.formColumn {
    width: 50%;
    margin: 0 0.5rem;
}

.addFormSubmit {
    display: block;
}

.inputSection {
    margin: 1rem 0;
    background-color:#2E2E2E;
    /*border-radius: 10px;*/
    padding: 1rem;
}

.inputSectionViolation {
    margin: 2rem;
    background-color:#2E2E2E;
    border: 1px solid darkred;
    /*border-radius: 10px;*/
    padding: 1rem;
}

.stopTakeHide {
    display: none;
}

.stopTakeShow {
    display: default;
}

input[type='radio'] {
    margin: 0 0.5rem 0 0;
}

.radioDuo {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

/*.thesisTextArea {
    width: 300px;
    height: 200px;
}*/

.submitContainer {
    position: sticky;
    bottom: 0;
    padding: 1rem;
    /*margin: 0 0 1rem 0;*/
    width: 100%;
    background-color: var(--color-bg-section-dark);
}

.submitButton {
    display: block;
    color: white;
    background-color: green;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .primaryFormInputs {
        flex-direction: column;
    }

    .formColumn {
        width: 100%;
        margin: 0;
    }
}