.container {
    background-color: var(--color-bg-section-dark);
    width: 100%;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 3rem;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerHide {
    display: none;
}

/*.container:hover {
    background-color: green;
}*/

/*.container:active {
    border: 2px solid green;
}*/

.remove {
    width: 250px;
    background-color:darkred;
}

.add:hover {
    background-color: green;
}

.companyInfo {
    width: 70%;
    font-size: 1.5rem;
}