.container {
    background-color: black;
    width: 31%;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid dimgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.container:hover {
    background-color: green;
}*/

/*.container:active {
    border: 2px solid green;
}*/

.add {
    width: 5rem;
    background-color: dimgray;
}

.add:hover {
    background-color: green;
}

/*.companyInfo {
    width: 70%;
}*/

@media screen and (max-width: 940px) {
    .companyInfo {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 830px) {
    .container {
        width: 47%;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 98%;
    }
}