.containerShow {
    display: default;
    background-color: var(--color-bg-section-dark);
    padding: 1rem 0.5rem;
    width: 100%;
}

.containerHide {
    display: none;
}

/*.addForm {
    display: flex;
}*/

.primaryFormInputs {
    display: flex;
    width: 100%;
}

.formColumn {
    width: 30%;
    margin-right: 2rem;
}

.addFormSubmit {
    display: block;
}

.inputSection {
    margin: 2rem;
    background-color:#2E2E2E;
    /*border-radius: 10px;*/
    padding: 1rem;
}

input[type='radio'] {
    margin: 0 0.5rem 0 0;
}

.radioDuo {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

/*.thesisTextArea {
    width: 300px;
    height: 200px;
}*/

.submitContainer {
    position: sticky;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background-color: var(--color-bg-section-dark);
}

.submitButton {
    display: block;
    color: white;
    margin: 0 auto;
}