.addForm {
    display: flex;
    justify-content: space-between;
}

.formColumn {
    width: 30%;
}

.addFormSubmit {
    display: block;
}

.inputSection {
    margin-bottom: 2rem;
    background-color:dimgray;
    border-radius: 10px;
    padding: 1rem;
}

input[type='radio'] {
    margin: 0 0.5rem 0 0;
}

.radioDuo {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

/*.thesisTextArea {
    width: 300px;
    height: 200px;
}*/