.container {
    margin-bottom: 3rem;
}

.summaryButton {
    border-radius: 10px 10px 0 0;
    background-color: white;
    color: black;
}

.buttonBorderShow {
    display: block;
    border-top: 1px solid white;
}

.buttonBorderHide {
    display: none;
}

.containerShow {
    background-color: gray;
    margin: 1rem 0 3rem 0;
    padding: 2rem;
}

.containerHide {
    display: none;
}

.contentContainer {
    display: flex;
    border: 1px solid white;
    padding: 1rem;
}

.subContainerHide {
    display: none;
    border: 1px dotted white;
}