/*.tableStructure {
    width: 100%;
    display: flex;
    justify-content: space-between;
}*/
/*.container {
    overflow: visible;
    position: relative;
}*/

.table {
    /*overflow: visible;*/
    /*position: relative;*/
    border-collapse: collapse;
    /*display: flex
    flex-direction: column;*/
    /*height: 100%;*/
    /*overflow-x: scroll;*/
    table-layout: auto;
    width: auto;
}

.tableHead {
    border-bottom: 1px solid gray;
    margin-bottom: 0.5rem;
    /*z-index: 4;*/
}

th {
    /*position: sticky;
    top: 0;*/
    font-size: 0.75rem;
    margin: 0 0.5rem 0 0;
}

/*.headerContainer {
    border-bottom: 1px solid gray;
    position: sticky;
    top: 5px;
}*/

/*tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0rem 0;
    padding: 0.5rem;
}*/

tr:nth-child(even) {
    background-color: var(--color-bg-section-dark);
}

th, td {
    text-align: left;
    margin: 0 0.5rem 0 0;
}

/*td {
    width: 15%;
    text-align: left;
}*/

/*.companyHeader {
    display: flex;
}*/

.headerContainer th {
    padding: 0 1rem 0 0;
}

.companyInfo {
    /*adding: 0 0.5rem 0 0;*/
    width: auto;
}

/*.assetType {
    width: auto;
}*/

/*.totalValue {
    width: auto;
    padding: 0 0.75rem 0 0;
}

.totalGainLoss {
    width: auto;
}*/


.logo {
    width: 50px;
    padding: 0.35rem;
    margin-right: 0.5rem
}

td button {
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    line-height: .7;
    /*margin: 0.75rem;
    padding: 0.5rem;*/
}