.container {
    text-align: center;
    padding: 5rem 3rem;
    background-image: radial-gradient(ellipse at top left, #4f2906, black);
    
}

.h1 {
    /*padding: 6rem 3rem 3rem 3rem;*/
    font-size: 3.5rem;
    width: 70%;
    margin: 0 auto;
}

.container span {
    filter: blur(0.3rem);
    animation: fadeIn ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
    0% {
        filter: blur(0.3rem);
    }
    100% {
        filter: blur(0);
    }
}

.h2 {
    padding: 3rem 0 4rem 0;
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
}

.heroLink {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: green;
    border-radius: 50px;
}

@media screen and (max-width: 860px) {
    .container {
        padding: 3rem 1.5rem;
    }
    
    .h1 {
        width: 100%;
        font-size: 2.5rem;
    }

    .h2 {
        padding: 2rem 0 2rem 0;
        font-size: 1.5rem;
        width: 100%;
    }
}