.container {
    width: 100%;
    padding: 2rem 4rem;
    background-color: black;
    color: white;
}

.header {
    font-size: 2rem;
    margin-left: 2rem;
}

.subHeader {
    margin-left: 2rem;
}

/*.header span {}*/

.cardContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0rem;
}