.container {
    /*background-color: goldenrod;*/
    background-image: radial-gradient(ellipse at bottom, /*#4f2906*/darkorange, gold);
    color: black;
    padding: 4rem 6rem 6rem 6rem;
    text-align: center;
}

.container div {
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 500;
}

.textOne {
    font-size: 1.5rem;
}

.textOne span {
    border-bottom: 3px solid black;
}

.textTwo {
    font-size: 1.5rem;
}

.textThree {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: sora, sans-serif;
    font-weight: 600;
}

.spacer {
    height: 2rem;
}

.link {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 2px solid black;
}

.link:hover {
    background-color: green;
    color: white;
    border: 2px solid white;
}

@media screen and (max-width: 860px) {
    .container {
        padding: 3.5rem 2rem 5rem 2rem;
    }
}