.logo {
    display: flex;
    justify-content: left;
    align-items: baseline;
    width: auto;
}

.link {
    display: flex;
    align-items: baseline;
    color: white;
    padding: 0;
}

.link:visited {
    color: white;
}

.logoName {
    width: auto;
    font-size: 3rem;
    padding: 0 0.25rem 0 0;
    line-height: 1;
}

.logoNameStack {
    display: none;
}

.logoVisual {
    /*background-color: orange;*/
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0 0 40px 0;
    background-image: linear-gradient(135deg, /*var(--color-red)*/ tomato, var(--color-yellow));
}

@media screen and (max-width: 1024px) {
    .logoName {
        font-size: 2.5rem;
    }

    .logoVisual {
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media screen and (max-width: 700px) {

    .link {
        align-items: center;
    }

    .logoName {
        display: none;
    }

    .logoNameStack {
        display: flex;
        flex-direction: column;
    }

    .logoNameStackWordOne {
        padding: 0;
        margin-bottom: -.5rem;
    }

    .logoNameStackWordTwo {
        padding: 0;
        margin-bottom: -.3rem;
        font-size: 1.3rem;
    }

    .logoVisual {
        /*align-self: flex-end;*/
        margin-left: -.5rem;
        width: 3.5rem;
        height: 2.5rem;
}
}