nav {
    /*max-width: 40%;
    min-width: 20%;*/
    width: auto;
}

nav ul {
    display: flex;
    margin-right: 0.5rem;
    list-style-type: none;
    justify-content: right;
}

nav li {
    width: auto;
    text-align: center;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50px;
}

nav li:hover {
    background-color: gold;
    color: black;
}

nav a {
    padding: 0.5rem 0.5rem;
    color: black;
    border-radius: 50px;
    width: 100%;
    height: 100%;   
}

nav a.active {
    background-color: pink;
}

nav a:visited {
    color: inherit;
}

.navLinkAbout {
    padding: 0.5rem 1rem;
}

/*
.navLinkLogIn {
    padding: 0.5rem 1rem;
}

.navLinkLogIn:visited {
    color: inherit;
}

.navLinkSignUp {
    padding: 0.5rem 1rem;
}

.navLinkSignUp:visited {
    color: inherit;
}
*/
.about {
    border: 1px solid white;
}

.account {
    background-color: white;
    color: black;
}

@media screen and (max-width: 830px) {
    nav {
        max-width: 60%;
    }
}

@media screen and (max-width: 560px) {
    nav li {
        padding: 0.2rem;
        font-size: 0.8rem;
    }
}