.container {
    font-size: 0.8rem;
}

@media screen and (max-width: 650px) {
    .container {
        display: flex;
        height: 2rem;
    }
}

@media screen and (max-width: 390px) {
    .container {
        height: 2rem;
    }
}