*, html {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
  /*position: absolute;
  top: 10vh;*/
}

:root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 80vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  
  /* CSS Vars */
  --bg-color-main: #000;
  --color-bg-section-dark: #1E1E1E;
  --color-bg-section-dark-secondary: #343434;
  --color-bg-section-dark-tertiary: #2E2E2E;
  --color-red: #FF0000;
  --color-yellow: #FFFF00;
  --padding-container-doc-border: 2rem;
  --padding-text-doc-border: 1rem;
  
  /**/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 80vh;
  position: relative;
  top: 10vh;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}



h1 {
  font-size: 2rem;
  line-height: 1.1;
}

ul {
  list-style-type: none;
}

button {
  border-radius: 50px;
  width: auto;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: goldenrod; /*#646cff;*/
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  width: auto;
  display: block;
  border-radius: 0;
  color: black;
  background-color: floralwhite;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 0.5rem 0;
}

textarea {
  display: block;
  border-radius: 0;
  color: black;
  background-color: floralwhite;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

input:focus-visible {
  outline: 5px auto goldenrod;
}

input[type='submit'] {
  border-radius: 50px;
  width: auto;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s;
}

label {
  display: block;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}